In [1]:
# Dependencies
import pandas as pd
import requests

In [2]:
earthquake_data = pd.read_csv("clean_earth.csv")
earthquake_data.head()

,ID,Magnitude,Time,Place,State,City,Longitude,Latitude
0,hv71321312,2.14,1578365127330,"Hawaii, Pahala",Hawaii,Pahala,-155.422836,19.214167
1,ci39026327,1.09,1578364484220,"CA, Little Lake",CA,Little Lake,-117.674667,35.845501
2,ci39026319,1.11,1578363959200,"CA, Searles Valley",CA,Searles Valley,-117.439333,35.616667
3,hv71321282,1.90,1578363482880,"Hawaii, Pahala",Hawaii,Pahala,-155.428665,19.211166
4,ak020bm0vbo,1.50,1578363120839,"Alaska, Y",Alaska,Y,-149.170800,62.453700

In [3]:
import sys
if sys.version_info[0] < 3:
    from StringIO import StringIO
else:
    from io import StringIO
import pandas as pd
import datetime

In [4]:
df = earthquake_data
convert = lambda x: datetime.datetime.fromtimestamp(x / 1e3)
converted_df = df['Time'].apply(convert)

In [5]:
df['Time'] = pd.to_datetime(df['Time'], unit='ms')
df.head()

,ID,Magnitude,Time,Place,State,City,Longitude,Latitude
0,hv71321312,2.14,2020-01-07 02:45:27.330,"Hawaii, Pahala",Hawaii,Pahala,-155.422836,19.214167
1,ci39026327,1.09,2020-01-07 02:34:44.220,"CA, Little Lake",CA,Little Lake,-117.674667,35.845501
2,ci39026319,1.11,2020-01-07 02:25:59.200,"CA, Searles Valley",CA,Searles Valley,-117.439333,35.616667
3,hv71321282,1.90,2020-01-07 02:18:02.880,"Hawaii, Pahala",Hawaii,Pahala,-155.428665,19.211166
4,ak020bm0vbo,1.50,2020-01-07 02:12:00.839,"Alaska, Y",Alaska,Y,-149.170800,62.453700

In [6]:
df['New_date'] = [d.date() for d in df['Time']]
df['New_time'] = [d.time() for d in df['Time']]
df.head()

,ID,Magnitude,Time,Place,State,City,Longitude,Latitude,New_date,New_time
0,hv71321312,2.14,2020-01-07 02:45:27.330,"Hawaii, Pahala",Hawaii,Pahala,-155.422836,19.214167,2020-01-07,02:45:27.330000
1,ci39026327,1.09,2020-01-07 02:34:44.220,"CA, Little Lake",CA,Little Lake,-117.674667,35.845501,2020-01-07,02:34:44.220000
2,ci39026319,1.11,2020-01-07 02:25:59.200,"CA, Searles Valley",CA,Searles Valley,-117.439333,35.616667,2020-01-07,02:25:59.200000
3,hv71321282,1.90,2020-01-07 02:18:02.880,"Hawaii, Pahala",Hawaii,Pahala,-155.428665,19.211166,2020-01-07,02:18:02.880000
4,ak020bm0vbo,1.50,2020-01-07 02:12:00.839,"Alaska, Y",Alaska,Y,-149.170800,62.453700,2020-01-07,02:12:00.839000

In [7]:
quake = df[["Magnitude", "New_date", "Place", "State", "City", "Longitude", "Latitude"]]
quake.head()

,Magnitude,New_date,Place,State,City,Longitude,Latitude
0,2.14,2020-01-07,"Hawaii, Pahala",Hawaii,Pahala,-155.422836,19.214167
1,1.09,2020-01-07,"CA, Little Lake",CA,Little Lake,-117.674667,35.845501
2,1.11,2020-01-07,"CA, Searles Valley",CA,Searles Valley,-117.439333,35.616667
3,1.90,2020-01-07,"Hawaii, Pahala",Hawaii,Pahala,-155.428665,19.211166
4,1.50,2020-01-07,"Alaska, Y",Alaska,Y,-149.170800,62.453700

In [8]:
data = quake[["New_date", "Magnitude", "State"]]
data.head()

     New_date  Magnitude    State
0  2020-01-07       2.14   Hawaii
1  2020-01-07       1.09       CA
2  2020-01-07       1.11       CA
3  2020-01-07       1.90   Hawaii
4  2020-01-07       1.50   Alaska

In [9]:
new_data = data[data.State == " CA"]
new_data

         New_date  Magnitude State
1      2020-01-07       1.09    CA
2      2020-01-07       1.11    CA
5      2020-01-07       1.02    CA
7      2020-01-07       0.85    CA
8      2020-01-07       0.99    CA
10     2020-01-07       1.93    CA
13     2020-01-07       0.98    CA
14     2020-01-07       0.92    CA
18     2020-01-07       1.25    CA
19     2020-01-07       0.66    CA
31     2020-01-06       1.52    CA
33     2020-01-06       0.78    CA
37     2020-01-06       2.52    CA
38     2020-01-06       2.64    CA
41     2020-01-06       1.27    CA
43     2020-01-06       0.93    CA
47     2020-01-06       0.87    CA
48     2020-01-06       2.43    CA
51     2020-01-06       1.24    CA
52     2020-01-06       1.15    CA
58     2020-01-06       1.24    CA
59     2020-01-06       1.68    CA
61     2020-01-06       0.46    CA
62     2020-01-06       1.69    CA
63     2020-01-06       1.21    CA
64     2020-01-06       2.06    CA
65     2020-01-06       1.63    CA
67     2020-01-06       1.44    CA
68     2020-01-06       0.85    CA
69     2020-01-06       1.83    CA
...           ...        ...   ...
10486  2019-12-08       2.10    CA
10489  2019-12-08       0.77    CA
10490  2019-12-08       2.09    CA
10491  2019-12-08       0.84    CA
10492  2019-12-08       0.52    CA
10501  2019-12-08       0.42    CA
10505  2019-12-08       0.79    CA
10506  2019-12-08       0.78    CA
10507  2019-12-08       1.91    CA
10508  2019-12-08       2.36    CA
10509  2019-12-08       0.96    CA
10510  2019-12-08       1.50    CA
10511  2019-12-08       0.49    CA
10512  2019-12-08       0.62    CA
10515  2019-12-08       1.71    CA
10519  2019-12-08       0.92    CA
10521  2019-12-08       0.59    CA
10525  2019-12-08       1.37    CA
10527  2019-12-08       0.96    CA
10532  2019-12-08       0.88    CA
10533  2019-12-08       0.23    CA
10537  2019-12-08       0.88    CA
10538  2019-12-08       1.49    CA
10541  2019-12-08       0.84    CA
10543  2019-12-08       0.96    CA
10546  2019-12-08       0.16    CA
10551  2019-12-08       0.76    CA
10558  2019-12-08       0.65    CA
10562  2019-12-08       0.48    CA
10567  2019-12-08       0.90    CA

[4112 rows x 3 columns]

In [10]:
last_data = new_data[["New_date", "Magnitude"]]
last_data.head()

     New_date  Magnitude
1  2020-01-07       1.09
2  2020-01-07       1.11
5  2020-01-07       1.02
7  2020-01-07       0.85
8  2020-01-07       0.99

In [11]:
last_data.rename(columns={'New_date':'Date'}, inplace=True)
last_data.head()

C:\Users\Suleyman\Anaconda3\lib\site-packages\pandas\core\frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

         Date  Magnitude
1  2020-01-07       1.09
2  2020-01-07       1.11
5  2020-01-07       1.02
7  2020-01-07       0.85
8  2020-01-07       0.99

In [12]:
last_data.sort_values("Date", ascending=True)

             Date  Magnitude
10567  2019-12-08       0.90
10336  2019-12-08       1.13
10337  2019-12-08       0.60
10341  2019-12-08       0.80
10342  2019-12-08       1.64
10346  2019-12-08       0.43
10347  2019-12-08       1.11
10348  2019-12-08       0.54
10354  2019-12-08       0.18
10358  2019-12-08       2.74
10363  2019-12-08       1.57
10364  2019-12-08       1.27
10369  2019-12-08       1.88
10372  2019-12-08       0.94
10374  2019-12-08       1.94
10375  2019-12-08       0.92
10377  2019-12-08       1.04
10379  2019-12-08       0.83
10382  2019-12-08       1.47
10388  2019-12-08       1.23
10389  2019-12-08       1.35
10390  2019-12-08       1.35
10392  2019-12-08       0.73
10393  2019-12-08       0.33
10332  2019-12-08       0.90
10395  2019-12-08       0.31
10330  2019-12-08       0.95
10320  2019-12-08       0.77
10232  2019-12-08       1.03
10236  2019-12-08       1.10
...           ...        ...
202    2020-01-06       0.92
215    2020-01-06       1.04
229    2020-01-06       0.67
224    2020-01-06       0.88
233    2020-01-06       0.60
254    2020-01-06       0.90
253    2020-01-06       1.14
232    2020-01-06       0.54
250    2020-01-06       0.55
249    2020-01-06       0.70
248    2020-01-06       1.44
247    2020-01-06       0.80
251    2020-01-06       0.37
241    2020-01-06       1.10
240    2020-01-06       1.03
238    2020-01-06       1.07
237    2020-01-06       1.00
235    2020-01-06       1.51
234    2020-01-06       0.97
242    2020-01-06       1.21
2      2020-01-07       1.11
5      2020-01-07       1.02
7      2020-01-07       0.85
8      2020-01-07       0.99
14     2020-01-07       0.92
13     2020-01-07       0.98
18     2020-01-07       1.25
19     2020-01-07       0.66
10     2020-01-07       1.93
1      2020-01-07       1.09

[4112 rows x 2 columns]

In [13]:
newest = last_data.groupby("Date").mean()
newest

            Magnitude
Date
2019-12-08   1.084623
2019-12-09   1.039060
2019-12-10   0.955169
2019-12-11   0.887006
2019-12-12   0.992727
2019-12-13   0.938776
2019-12-14   1.073206
2019-12-15   1.076629
2019-12-16   1.099769
2019-12-17   1.018802
2019-12-18   0.971429
2019-12-19   1.050222
2019-12-20   1.031211
2019-12-21   1.118882
2019-12-22   1.096370
2019-12-23   1.047241
2019-12-24   1.056479
2019-12-25   1.023290
2019-12-26   1.170886
2019-12-27   1.104211
2019-12-28   1.111181
2019-12-29   1.075093
2019-12-30   1.099706
2019-12-31   1.095172
2020-01-01   1.100075
2020-01-02   1.062581
2020-01-03   1.045298
2020-01-04   0.913590
2020-01-05   1.032348
2020-01-06   1.079856
2020-01-07   1.080000

In [14]:
newest.to_csv('clean_quake_ready.csv')